<h3> Ask your coach anything</h3>

<form action="/answer">
  <label for="question">Ask your coach a question</label>
  <input type="text" id="question" name="question" placeholder="what is your question?">
  <input type="submit" value="Submit!">
</form>

<%# <%= link_to'STUPID COACHING', ask_about %>
